

.collector-container {
    height: auto;
    
}

.collector-header {
    height: 5rem;
    display: flex;
    align-items: center;
    font-family: 'Oxanium', cursive;
    padding-left: 75px;
    font-size: 1.8rem;
}

.collector-text-container {
    
    max-height: 500px;
    overflow-y: auto;
}

.collector-text-container #info {
    font-family: 'Oxygen', sans-serif; 
    font-size: 1.3rem;
    padding-left: 115px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: rgb(36, 36, 36);
}

.collector-text-container #info b {
    padding-right: 5px;
    color: black;
}
