.image-container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 100px;
}

.image-container img {
    width: 350px;
    height: 350px;
    margin-right: 150px;
}

