.footer-flex{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.flex-child {
    height: 50%;
    width: 20%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

