#main-header {
    margin: 0;
    padding: 0;
    background-color: #2BAE66 ;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    color: white;
}

.motion.div {
    background-color: #2BAE66
}

#left-box, #middle-box, #right-box {
    width: 33%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


#middle-box h1 {
    font-family: 'Oxanium', cursive;
}


#contact-path {
    background-color: #2BAE66;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 5rem;
    width: auto;
    color: white;
    font-family: 'Oxanium', cursive; 
    font-size: larger;
    cursor: pointer;
}

#phone-icon {
    padding-right: 10px;
}

#vert-button {
    background-color: white;
    color: black;
    min-width: 12.5rem;
    font-size: large;
    font-family: 'Oxanium'; 
}

#vert-button:hover {
    background-color: #C5FAD5;
    cursor: pointer;
 }