#main-header {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.821); ;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    color: white;
}

.motion.div {
    background-color: rgba(0, 0, 0, 0.821);
}

#left-box, #middle-box, #right-box {
    width: 33%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-box, #right-box  {
    padding-top: 0px;
}


#middle-box h1 {
    font-family: 'Oxanium', cursive;
}

#contact-path {
    background-color: rgb(47, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 3rem;
    width: 200px;
    color: white;
    font-family: 'Oxanium', cursive; 
    font-size: larger;
    cursor: pointer;
    border-bottom: solid white;
    border-top: solid white;
}

#contact-path h2 {
    font-size: 1rem;
    font-family: 'Oxanium', cursive; 
}

#phone-icon {
    padding-right: 10px;
    font-size: 1rem;
}

#vert-button {
    background-color: white;
    color: black;
    min-width: 12.5rem;
    font-size: large;
    font-family: 'Oxanium'; 
}

#vert-button:hover {
    background-color: #C5FAD5;
    cursor: pointer;
 }