* {
    margin: 0;
    padding: 0;
    
    
    
  }
  


.Testname-container {
  width: 100%;
  height: 10rem;
  padding-left: 40px;
  
}

#reveal-div {
  height: 100%;
  width: 100%;
}

.mainbody-container {
  
  height: auto;
  
}


.basicInfo-container, .staffInfo-container {
  
  flex: 1 1 50%;
}

.staffInfo-container {
  height: auto;
  
}

.basicInfo-container {
  display: flex;
  flex-direction: row;
  height: 65vh;
}

.basicTest {
  flex: 0 0 70%;
  display: flex;
  height: 100%;
  padding-left: 50px;
}

.container-img {
  flex: 0 0 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.staffInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 4rem;
}

.SearchBar-container {
  min-height: 5rem;
  height: auto;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collector-info, .laboratory-info {
  flex: 0 0 50%;
  height: auto;
  margin: 25px;
  background-color: white;
  border-bottom: 4px solid #68c4af;
  border-left: 2px solid #68c4af;
  border-right: 4px solid #68c4af;
  border-top: 2px solid #68c4af;
  border-radius: 15px;
}

.collector-info:empty, .laboratory-info:empty {
  border: 0px;
}

#footer-container {
  height: 20vh;
  width: 100vw;
  background-color: #68c4af;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Extra-contact-info {
  height: 35vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.821);
  display: flex;
  justify-content: center;
  align-items: center;
}

#extra-contact-flex {
  display: flex;
  height: 80%;
  width: 80%;
 
  justify-content: center;
  align-items: center;
}

#boxOne, #boxTwo {
  width: 50%;
  height: 100%;
  color: white;  
}

#boxTwo{
  text-align: right;
}



  
