* {
  margin: 0;
  padding: 0;
}

.results-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.text-container, .images {
  border: red 2px solid;
  flex: 0 0 30%;
  height: 50vh;
}