* {
    margin: 0;
    padding: 0;
    scrollbar-color: #6969dd
  }
  
  .results-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  
  .text-container, .images {
    border: grey 2px solid;
    
    height: auto;
    min-height: 50vh;
    max-height: 80vh;
  }

  .text-container {
    flex: 0 0 50%;
  }

  .images {
    flex: 0 0 20%;
  }

  #hiddenNames {
    display: none;
  }

  #showAnchor {
    cursor: pointer;
  
  }

  #testName {
    font-family: 'Oxanium', cursive;
    font-size: 3.5rem;
    padding-bottom: 15px;
  }

  #show:hover {
    color: black;
    font-size: x-large;
    border-bottom: black solid 1px;
  }
 

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  


  #variable {
    color: grey;
  }

  .text-container p, .text-container span, #hiddenNames, .text-container a, .text-container div {
    text-align: left;
    width: 60%;
    font-family: 'Oxanium', cursive;
    font-size: x-large;
    margin-bottom: 30px;
  }

  img {
    width: auto;
    height: 100%;
  }