.laboratory-container {
    height: auto;
    
    
}

#laboratory-header {
    height: 5rem;
    display: flex;
    align-items: center;
    font-family: 'Oxanium', cursive;
    padding-left: 75px;
    font-size: 1.8rem;
}

.laboratory-dropdown {
    height: auto;
    overflow-y: auto;
    max-height: 500px;
    
}

.laboratory-dropdown #info {
    height: auto;
    font-family: 'Oxygen', sans-serif; 
    font-size: 1.3rem;
    padding-left: 115px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: rgb(36, 36, 36);
    
}

.laboratory-dropdown #info b {
    color: black;
    padding-right: 10px;
}