
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.SearchBar {
    text-align: center;
    width: 30vw;
    height: 2rem;
    font-size: larger;
    font-family: 'Oxanium', cursive;
}

input:focus::placeholder {
  color: transparent;
}
 .dropdown {
  background-color: white;
  min-height: 0px;
  max-height: 50vh;
  min-width: 0;
  width: auto;
  max-width: 70vw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 30px ;
  box-sizing: content-box;
  margin-bottom: 50px;
 }


 .test-result {
  width: 60vw;
  min-height: 50px;
  height: auto;
  font-family: 'Oxanium', cursive;
  font-size: 1.5rem;
  padding: 10px 0px 10px 20px;
  border-bottom: black 1px solid;
  
 }

 .test-result:hover {
    background-color: #ADD8E6;
    cursor: pointer;
 }
