
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchBar {
    text-align: center;
    margin-top: 35px; 
    width: 30vw;
    height: 3.5rem;
    font-size: larger;
    font-family: 'Oxanium', cursive;
    border: 2px solid #1f2937;
    border-bottom: 4px solid #1f2937;
    border-right: 4px solid #1f2937;
    border-radius: 5px;
}

input:focus::placeholder {
  color: transparent;
  border-bottom: 0px;
}
 .dropdown {
  background-color: white;
  min-height: 0px;
  max-height: 50vh;
  min-width: 0;
  width: auto;
  max-width: 70vw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 30px 5px 5px 30px ;
  border-bottom: 2px solid #1f2937;
  border-left: 2px solid #1f2937;
  border-right: 2px solid #1f2937;
  border-top: 2px solid #1f2937;
  box-sizing: content-box;
  margin-bottom: 50px;
 }

 .dropdown:empty {
  border: 0px;
 }


 .test-result {
  width: 60vw;
  min-height: 50px;
  height: auto;
  font-family: 'Oxanium', cursive;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;
  border-bottom: #1f2937 1px solid;
  
 }

 .test-result:hover {
    background-color: #cecfd3;
    cursor: pointer;
 }
