.search-container {
  padding-top: 30px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



input {
    text-align: center;
    width: 30vw;
    height: 2rem;
    font-size: larger;
    font-family: 'Oxanium', cursive;
}

input:focus::placeholder {
  color: transparent;
}




.SearchBar {
  justify-self: flex-start;
}


 .dropdown {
  background-color: white;
  min-height: 0px;
  max-height: 50vh;
  min-width: 0px;
  max-width: 70vw;
  overflow-y: auto;
  border-top: black 0.5px solid;
  border-left: black 0.5px solid;
  border-bottom: black 0.5px solid;
  border-radius: 30px ;
  box-sizing: content-box;
 }


 .test-selection {
  
  width: 99%;
  min-height: 50px;
  height: auto;
  font-family: 'Oxanium', cursive;
  font-size: 1.5rem;
  padding: 10px 5px;
  border-bottom: solid black 1px;
  
  
 }

 .test-selection:hover {
    background-color: rgb(255, 0, 128);
    cursor: pointer;
 }
